.loader {
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: rgba(11, 11, 11, 0.899);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(n) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(2) {
    animation-delay: .5s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .8s;
  }
  
  .bar:nth-child(4) {
    animation-delay: .9s;
  }
  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }